{% if products %}
    {% for product in products %}
    <tr>
        {% for col in columns %}
            <td>
                {% if col == 'name' %}
                    {{ product[col]|title }}
                {% else %}
                    {{ product[col] }}
                {% endif %}
            </td>
        {% endfor %}
        <td>
            <button onclick='buy("{{ product["name"] }}")' {% if product['inventory'] <= 0 %}disabled{% endif %}>Buy</button>
        </td>
    </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="{{ columns|length + 1 }}">No products found for this category.</td></tr>
{% endif %}
